# Interfață și Audio
pygame

# Gestionare procese (pentru pauză/stop muzică)
psutil

# Motorul de căutare YouTube
youtube-search-python

# Dependență critică pentru căutare (versiunea cerută de codul tău)
httpx==0.27.2

python-tk